.card {
    background-color: rgb(240, 239, 238);
    border-radius: 5px;
    width: 100%;
    font-display: .5em;
}

.card a {
    margin-right: 0;
}
.card .image img {
    border-radius: 5px;
    height: 70%;
    width: 100%;
}
.card .box {
    color: rgb(14, 13, 1);
    height: 30%;
    text-align: left;
    
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.card .title {
    padding-top: 1px;
    color: rgb(72, 72, 72);
}
