body {
    background-color: #fff9f1;
    margin: auto;
    text-align: center;
}


@media only and and (min-width: 600px) {
    body {
        background-color: #d7d1c9
    }
}

@media only screen and (min-width: 1024px) {
    body {
        background-color: #99b19c
    }
}